header {
    padding: 20px 100px;
    background-color: #3e5b99;
    display: flex;
    width: 100%;
    color: white;
    height: 80px;
}

header h1 {
    width: 60%;
}

th {
    text-align: left;
}

.login-submit {
    background-color: cornflowerblue;
}

main {
    background-color: #f1f1f1;
    display: flex;
    width: 100%;
    padding: 20px 100px;
    align-items: center;
}

section {
    height: 70px;
    font-size: 18px;
}

.name {
    width: 150px;
    height: 40px;
}

.email, .password {
    width: 315px;
    height: 40px;
}

input {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.facebook-introduce {
    width: 60%;
}

.summary {
    padding-right: 150px;
    font-size: 32px;
}

.sign-up {
    width: 40%;
    margin: 0;
    padding: 0;
}

.date {
    height: 40px;
    width: 315px;
}

.sign-up-sub {
    border-radius: 10px;
    height: 40px;
    width: 150px;
    background-color: green;
}
.desc {
    width: 50%;
    font-size: 8px;
}

footer {
    margin: 30px 80px;
}

nav {
    text-align: center;    
}